.footer
{
    padding: 10px 10px 10px 10px;
    align: center;
    font-family: verdana;
    color: #A4A4A5;
    font-weight: bold;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 40%;
    /*border:1px solid black;*/
}

.yfTable
{
    border-collapse: collapse;
    border:1px solid black;
}

#gridTable
{
    left: 25%;
}